
.body {
  background-color: none;
}

/* -----    Navbar content ----- */
.navbar-toggler {
  border: none !important;
  padding: 5px !important;
  margin: 0px;
  border-radius: 3px !important;
}
.navbar-toggler:hover {
  background-color: lightgrey;
}

.cart-info {
  border: none;
  border-radius: 3px;
  padding: 7px;
  align-self: center;
  position: relative;
}

.cart-info:hover {
  background-color: lightgrey;
}

#totalItems {
  animation-duration: .7s;
  animation-delay: .1s;
}



/* Cart dropdown listed items styling */
.cart {
  position: fixed;
  min-height: 10rem;
  background-color: lightblue;
  opacity: 0.9;
  top: 0;
  right: 0;
  transition: all 0.4s ease-in-out;
  width: 0;
  overflow: hidden;
}

.show-cart {
  width: auto;
  max-height: 60%;
  padding: 2rem .5rem;
  top: 65px;
  transform: rotateY(-360deg);
  overflow: auto;
  border-radius: 3px;
  border: 1px solid lightgrey;
}

.clearCart, .checkOut {
  background-color: white;
  color: white;
  border: 2px solid #008CBA;
  border-radius: 3px;
  background-color: #008CBA;
  color: white;
}
.clearCart:hover, .checkOut:hover {
  background-color: white;
  color: black;
  border: 2px solid #008CBA;
  border-radius: 3px;
}

.trashIcon:hover {
  transform: scale(1.3);
}

.cart-item-title {
  transition: all 2s ease-in-out;
  text-transform: capitalize;
}

.cart-item img {
  position: relative;
}

.cartTotal {
  justify-content: center;
  align content: center:
  margin-top: 5px;
}

/*   Slick styling */
.slider-for img {
  margin: 0 auto;
  border-radius: 70px;
  border: 2pt solid white !important;
}

.slider-for img:hover {
  border: 2pt solid grey !important;
}

}
.slider-nav img
{
  margin: 0 auto !important;
}

.slider-nav .slick-slide img:hover {
  opacity: .6 !important;
}

/* QuaggaJS scanner */

.scanItem {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 3px;
  box-shadow: 2px 3px lightgrey;
}

.scanItem:hover {
  background-color: #3e8e41;
  box-shadow: 0 0 lightgrey;
}

.scanItem:active {
  background-color: #3e8e41;
  box-shadow: 0 0 lightgrey;
  transform: translateY(3px);
}

#scanner-container {
  width: 100%;
  height: auto;
}

.modal-backdrop
{
  opacity:0.85 !important;
}

.footer {
  background-color: black;
  height: 12%;
  color: white;
  font-size: 10pt;
}

.copyright {
  font-family: courier;
  color: green;
  font-size: 11pt;
}

.ourNames {
  font-family: Verdana;
  font-size: 12pt;
}

.AppName {
  font-size: 18pt;
}
